ULIMSWcfClient/Service References/svcSpErf/Erf4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ULIMS.WCF.SP" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ULIMS.WCF.SP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.10.66:2020/UlimsWcfServer/Erf.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfErfData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ErfData" nillable="true" type="tns:ErfData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfErfData" nillable="true" type="tns:ArrayOfErfData" />
  <xs:complexType name="ErfData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ComputedSize" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Density" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErfNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GlobalId" type="ser:guid" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ItemState" type="tns:ObjectState" />
      <xs:element minOccurs="0" name="LastEditDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LocalAuthority" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ownership" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Portion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StandNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SurveySize" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Township" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zoning" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErfData" nillable="true" type="tns:ErfData" />
  <xs:simpleType name="ObjectState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="New" />
      <xs:enumeration value="Unchanged" />
      <xs:enumeration value="Update" />
      <xs:enumeration value="Delete" />
      <xs:enumeration value="Ignore" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ObjectState" nillable="true" type="tns:ObjectState" />
</xs:schema>